.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-header {
    text-align: center;
    margin-bottom: 30px;
}

.logo {
    width: 100px; /* Adjust as needed */
    height: auto;
    margin-bottom: 10px;
}

.login-form {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust width as needed */
}

.login-form label {
    display: block;
    margin-top: 10px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.dashboard-container{
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    justify-content: center;
    max-width: 1000px;
}

.dashboard{
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1000px; /* Adjust width as needed */
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dashboard button{
    height: 100%;
    width: 95%;
    padding: 25px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    font-size: 35px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}