.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 60px;
}

.login-header h1 {
    margin-top: 20px;
    margin-bottom: 40px;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.login-form {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 310px;
}

.login-form label {
    display: block;
    margin-top: 10px;
    font-size: 20ptx;
    font-weight: 500;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 20ptx;
    cursor: pointer;
}

.dashboard-container{
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    justify-content: center;
    max-width: 1000px;
}

.dashboard{
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1000px;
    height: 500px;
    align-items: center;
    justify-content: center; 
}

.dashboard h1 {
    padding-top: 20px;
    font-size: 35px;
}

.dashboard button{
    height: 20%;
    width: 90%;
    padding: 25px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    font-size: 35px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}



.container-fluid {
    background-color: #ffffff;
    padding: 15px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.row h1 {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin: 20px 0;
    text-align: center;
}

.card {
    background-color: #f8f9fa;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.card-header {
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
    padding: 10px 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}

.card-body {
    padding: 20px;
    color: #212529;
}

.col-md-6 {
    padding: 0 15px;
    width: 50%;
}


.scanned-variables {
    background-color: #e9ecef;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #dee2e6;
}

.scanned-variables input {
    width: 95%;
}

.ticket-details,
.components-list {
    background-color: #e9ecef;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #dee2e6;
}

.ticket-details {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    gap: 10px; 
    justify-content: center;
}

.card-body .ticket-details p,
.card-body .components-list p {
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 21px;
}

.components-list div {
    margin: 10px;
    font-size: large;
}


.print-controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.print-qty {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.radio-buttons label,
.print-controls
.print-qty label {
    font-weight: bold;
    padding-left: 10px;
}

.radio-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.print-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: auto;
    margin-top: 10px;
    height: 75px;
    width: 130px;
    font-size: 21px;
}

.radio-buttons input[type="radio"] {
    margin-right: 0px;
    margin-left: 20px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    text-align: center;
    margin-left: 10px;
}

.auto-print {
    display: flex;
    align-items: center;
    margin-top: auto;
    font-size: large;
}

select {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

label {
    display: block;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col-md-6 {
        width: 100%;
    }
}
.teardown{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.teardown-header{
    padding: 10px 15px;
    
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}

.teardown-header h1{
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin: 20px 0;
    text-align: center;
}

.teardown label{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.teardown-container{
    background-color: #e9ecef;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height:530px;
    width: 800px;
    font-size: 50px;
    padding: 20px;
    color: #212529;
}

.reman{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.reman h1{
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin: 15px 0;
    text-align: center;
}

.reman label{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.reman-container{
    background-color: #e9ecef;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height:530px;
    width: 800px;
    font-size: 50px;
    padding: 20px;
    color: #212529;
}

.reman-label-preview{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.reman-label-preview button{
    font-size: 15px;
    width: 55px;
}
